

/* #calc_container {
        width: 350px;
        max-width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 1px 1px grey;
        padding: 1.5rem;
        
    

    }


#calc_container_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
} */



